@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Organic.Areas.Client.ViewModels.Category
@model List<CategoryViewModel>


@foreach (var category in Model)
{
    <option>@category.Name</option>
}