@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Organic.Areas.Client.ViewComponents
<!-- Page Contain -->
<div class="page-contain">

    <!-- Main content -->
    <div id="main-content" class="main-content">

        <!--Block 01: Main slide-->
        <div class="main-slide block-slider">
            <ul class="biolife-carousel nav-none-on-mobile" data-slick='{"arrows": true, "dots": false, "slidesMargin": 0, "slidesToShow": 1, "infinite": true, "speed": 800}'>

                @await Component.InvokeAsync(nameof(Slider));

            </ul>
        </div>

        <!-- Block 06: Product Tab-->
        <div class="product-tab z-index-20 sm-margin-top-71px xs-margin-top-80px">
            <div class="container">
                <div class="biolife-title-box biolife-title-box__icon-at-top-style hidden-icon-on-mobile sm-margin-bottom-24px">
                    <span class="icon-at-top biolife-icon icon-organic"></span>
                    <span class="subtitle">Keyfiyyətli, organik, tam təmiz</span>
                    <h3 class="main-title">Bizim Məhsullar</h3>
                </div>
                <div class="biolife-tab biolife-tab-contain">
                    <div class="tab-head tab-head__sample-layout type-02 xs-margin-bottom-15px ">
                        <ul class="tabs">
                            <li class="tab-element active">
                                <a href="#tab01_1st" class="tab-link">Yenilər</a>
                            </li>
                            <li class="tab-element">
                                <a href="#tab01_2nd" class="tab-link">Populyar</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content tab-content2">
                        <div id="tab01_1st" class="tab-contain active">
                            <ul class="products-list biolife-carousel nav-center-02 nav-none-on-mobile eq-height-contain" data-slick='{"rows":1 ,"arrows":true,"dots":false,"infinite":true,"speed":400,"slidesMargin":10,"slidesToShow":4, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 4}},{"breakpoint":992, "settings":{ "slidesToShow": 3, "slidesMargin": 30}},{"breakpoint":768, "settings":{ "slidesToShow": 2, "slidesMargin": 15}}]}'>
                               @await Component.InvokeAsync(nameof(Product));
                            </ul>
                        </div>
                        <div id="tab01_2nd" class="tab-contain tab-content2 ">
                            <ul class="products-list biolife-carousel nav-center-02 nav-none-on-mobile eq-height-contain" data-slick='{"rows":1 ,"arrows":true,"dots":false,"infinite":true,"speed":400,"slidesMargin":10,"slidesToShow":4, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 4}},{"breakpoint":992, "settings":{ "slidesToShow": 3, "slidesMargin":30}},{"breakpoint":768, "settings":{ "slidesToShow": 2, "rows":2, "slidesMargin":15}}]}'>
                                @await Component.InvokeAsync(nameof(PopularProduct));
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Block 04: Banner Promotion 01 -->
        @await Component.InvokeAsync(nameof(ComboMenu))

        <!--Block 05: Banner Promotion 02-->
        <div class="banner-promotion-02 z-index-20">
            <div class="biolife-banner promotion2 biolife-banner__promotion2">
                <div class="banner-contain">
                    <div class="container">
                        <div class="media"></div>
                        <div class="text-content">
                            <b class="first-line">Süd məhsulları</b>
                            <span class="second-line">Sağlam Heyvan, Təbii Süd</span>
                            <p class="third-line">Gigiyenik normalar əsasında hazırlanan məhsullarımızın tərkibində olan vitamin və minerallar təzə süddə olduğu kimi öz keyfiyyətini ilk günkü tək qoruyub saxlayır.</p>
                            <p class="buttons">
                                <a href="https://docs.google.com/spreadsheets/d/17nmumXDWSFnt9aP6jFWVvm_9BE_C5icc/edit#gid=726280202" class="btn btn-bold">Qiymət Cədvəli</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Block 06: Products-->
        <div class="Product-box sm-margin-top-96px xs-margin-top-0">
            <div class="container">
                <div class="row">
                    @await Component.InvokeAsync(nameof(RatingProduct))
                </div>
            </div>
        </div>

        <!--Block 08: Blog Posts-->
        <div class="blog-posts sm-margin-top-93px sm-padding-top-72px xs-padding-bottom-50px">
            <div class="container">
                <div class="biolife-title-box">
                    <span class="subtitle">
                        Ən Yeni və Ən Maraqlı Xəbərlər
                    </span>
                    <h3 class="main-title">Bloqlar</h3>
                </div>
                <ul class="biolife-carousel nav-center nav-none-on-mobile xs-margin-top-36px" data-slick='{"rows":1,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":30,"slidesToShow":3, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 3}},{"breakpoint":992, "settings":{ "slidesToShow": 2}},{"breakpoint":768, "settings":{ "slidesToShow": 2}},{"breakpoint":600, "settings":{ "slidesToShow": 1}}]}'>
                    @await Component.InvokeAsync(nameof(Blog))
                </ul>
            </div>
        </div>

    </div>

</div>
