
<div class="page-contain login-page">
    <div id="main-content" class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="signin-container">
                        <form class="forgotpasswordlayer">
                            <p class="form-row forgotpasswordmessage">
                                Şifrənizin sıfırlanması üçün emailə məktub göndərildi. Kontrol edin.
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>