@using Organic.Areas.Client.ViewModels.Authentication
@model ForgotPasswordViewModel

<div class="page-contain login-page">
    <div id="main-content" class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="signin-container ">
                        <form method="post" asp-route="client-forgot-password" class="forgotpasswordlayer1">
                            <div class="forgotpasswordlayer">
                                <p class="form-row forgotpasswordmessage">
                                    Qeydiyyatdan keçdiyiniz emailı daxil edin.
                                </p>
                            </div>

                            <p class="form-row">
                                <label>Email:<span class="requite">*</span></label>
                                <input asp-for="Email" type="email" id="fid-pass" name="email" value="" class="txt-input">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </p>
                            <p class="form-row wrap-btn">
                                <button class="btn btn-submit btn-bold" type="submit">Göndər</button>
                            </p>
                        </form>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>