@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Organic.Areas.Client.ViewModels.Category
@model List<CategoryViewModel>

@foreach (var category in Model)
{
    <li class="menu-item menu-item-has-children has-child">
        <a href="#" class="menu-name" data-title=""><i class="@category.IconClass"></i> @category.Name</a>
        <ul class="sub-menu">
            @foreach (var item in category.Products)
            {
                <li class="menu-item"><a asp-route="client-product-detail" asp-route-id = "@item.Id">@item.Name</a></li>
            }        
        </ul>
    </li>
}

