@using Organic.Areas.Client.ViewModels.OrderProducts
@using Organic.Services.Abstracts
@inject IUserService _userservice
@model OrdersProductsViewModel

<div class="col-lg-12 orders-table">

    <div class="myaccount-orders">
        <h3 class="small-title text-center">Mənim sifarişlərim</h3>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tbody class="bodystyle">
                    <tr>
                        <th>Ad</th>
                        <th>Say</th>
                        <th>Qiymət</th>
                        <th>Cəm</th>
                    </tr>
                    @foreach (var item in Model.Products)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price</td>
                            <td>@Math.Round(item.Total, 2)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>