
<div class="page-contain page-404">
    <div id="main-content" class="main-content">
        <div class="container">
            <div class="row">
                <div class="content-404">
                    <h1 class="heading">404</h1>
                    <h2 class="title">Səhifə tapılmadı...</h2>
                    <p>Bağışlayın, amma axtardığınız səhifə tapılmır. </p>
                    <a class="button" asp-route="client-home-index">Ana Səhifəyə keçid</a>
                </div>
            </div>
        </div>
    </div>
</div>