@using Organic.Areas.Admin.ViewComponents

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        @await Component.InvokeAsync(nameof(ProductTable))
        @await Component.InvokeAsync(nameof(UserTable))
        @await Component.InvokeAsync(nameof(CategoryTable))
        @await Component.InvokeAsync(nameof(SliderTable))
        @await Component.InvokeAsync(nameof(TagTable))
    </div>
</div>
