@using Organic.Areas.Admin.ViewModels.Product.Tag
@model List<TagViewModel>

<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Last added 4 tags</h6>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tag in Model)
                {
                    <tr>
                        <td>@tag.Name</td>
                    </tr>                      
                }              
            </tbody>
        </table>
    </div>
</div>