@using Organic.Areas.Admin.ViewModels.Product.Category
@model UpdateViewModel

<div class="row">
    <div class="col-lg-12">
        <div class="card bg-secondary rounded">
            <div class="card-header">
                <h4 class="card-title">Categories</h4>
            </div>
            <div class="card-body">
                <div class="general-label">
                    <form method="POST" asp-route="admin-category-update" asp-route-id="@Model.Id" enctype="multipart/form-data">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <label>Name</label>
                            <input asp-for="Name" class="form-control">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Icon</label>
                            <input asp-for="IconClass" class="form-control">
                            <span asp-validation-for="IconClass" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary  mt-2">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>