@using Organic.Areas.Admin.ViewModels.Slider
@model AddViewModel
<div class="row">
    <div class="col-lg-12">
        <div class="card bg-secondary rounded h-100 p-4">
            <div class="card-header">
                <h4 class="card-title">Sliders</h4>
            </div>
            <div class="card-body">
                <div class="general-label">
                    <form method="POST" asp-route="admin-slider-add" enctype="multipart/form-data">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                        <div class="form-group">
                            <label>Products</label>
                            <select asp-for="ProductId" asp-items="@(new SelectList(Model.Products, nameof(Organic.Areas.Admin.ViewModels.Product.ProductViewModel.Id), nameof(Organic.Areas.Admin.ViewModels.Product.ProductViewModel.Name)))" class="form-select">                            </select>
                            <span asp-validation-for="ProductId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input asp-for="Title" class="form-control">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input asp-for="Description" class="form-control">
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>İmage</label>
                            <input asp-for="Image" class="form-control">
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div>
</div>