@using Organic.Areas.Admin.ViewModels.Product
@model AddProductViewModel
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Books</h4>
            </div>
            <div class="card-body">
                <div class="general-label">
                    <form method="POST" asp-route="admin-product-add" enctype="multipart/form-data">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>


                        <div class="form-group">
                            <label>Name</label>
                            <input asp-for="Name" class="form-control">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Info</label>
                            <input asp-for="Info" class="form-control">
                            <span asp-validation-for="Info" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input asp-for="Price" class="form-control">
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Categories</label>
                            <select asp-for="CategoryIds" asp-items="@(new SelectList(Model.Categories, nameof(CategoryListViewModel.Id), nameof(CategoryListViewModel.Name)))" class="form-select">                            </select>
                            <span asp-validation-for="CategoryIds" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Tags</label>
                            <select asp-for="TagIds" asp-items="@(new SelectList(Model.Tags, nameof(TagListViewModel.Id), nameof(TagListViewModel.Name)))" class="form-select">                            </select>
                            <span asp-validation-for="TagIds" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Count</label>
                            <input asp-for="Count" class="form-control">
                            <span asp-validation-for="Count" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div>
</div>