@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Organic.Areas.Client.ViewModels.Basket
@model List<ProductCookieViewModel>


<div class="minicart-contain">
    <a href="javascript:void(0)" class="link-to">
        <span class="icon-qty-combine">
            <i class="icon-cart-mini biolife-icon"></i>
            <span class="qty">8</span>
        </span>
        <span class="title">Mənim Səbətim -</span>
        <span class="sub-total">$0.00</span>
    </a>
    <div class="cart-content">
        <div class="cart-inner">
            <ul class="products">
                @foreach (var item in Model)
                {
                    <li>
                        <div class="minicart-item">
                            <div class="thumb">
                                <a href="#"><img src="~/@item.ImageUrl" width="90" height="90" alt="National Fresh"></a>
                            </div>
                            <div class="left-info">
                                <div class="product-title"><a href="#" class="product-name">@item.Title</a></div>
                                <div class="price">
                                    <span class="price-amount"><span class="currencySymbol">£</span>@item.Price</span>
                                </div>
                                <div class="qty">
                                    <label for="cart[id123][qty]">Qty:</label>
                                    <input type="number" class="input-qty" name="cart[id123][qty]" id="cart[id123][qty]" value="1" disabled>
                                </div>
                            </div>
                            <div class="action">
                                <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a href="#" class="remove"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </li>
                }
               
            </ul>
            <p class="btn-control">
                <a href="#" class="btn view-cart">view cart</a>
                <a href="#" class="btn">checkout</a>
            </p>
        </div>
    </div>
</div>